body {
  background-image: url(https://static.poder360.com.br/2017/03/b3_bovespacetip-868x644.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}
